* {
    box-sizing: border-box;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    margin: 0;
    padding: 0;
}

body,
input,
button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;

    -webkit-font-smoothing: antialiased;
    /* contornos das fontes mais suaves */
}
