.card {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.25em;
    width: 65%;
    background: #735bf2;
    border-radius: 24px;
    color: #fff;

    margin-bottom: 12px;
    padding: 24px;

    justify-content: space-between;
}

.itemId {
    display: flex;
    justify-content: left;
}

.itemName {
    display: flex;
    justify-content: left;
}

.itemTime {
    display: flex;
    justify-content: center;
}

.itemMat {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        height: auto;
    }
    .itemId {
        justify-content: center;
        padding-bottom: 12px;
    }
    .itemName {
        justify-content: center;
        padding-bottom: 12px;
    }
    .itemTime {
        padding-bottom: 12px;
    }
}
